{
	"agentid": "home12",
	"name": "Chatterjee",
	"location": "DC.BRANCH1.BUS2.LOAD3",
	"message": "home agent up",
	"FREGpart" : 0,
	"DRpart" : 1,
	"refload" : 1.8,
	"windowlength" : 10,
	"resources": [],
	"appliances": 
	[
		{
			"type": "heater",
			"owner":"Chatterjee",
			"name":"Pontryagin",
			"specificheatcapacity":4.184,
			"mass":4.4,
			"thermalresistance":35.0,
			"nominalpower":1.2,
			"deltat":10.0,
			"inittemp":33.0
		}
	],
	"preference_manager":
	{
		"selection_rule":
		{
			"type":"repeating_sets",
            "params":{"periods":[[0,1,2,3,4,5,6,7,8,9,10],[11,12,13,14,15,16,17,18,19,20,21,22,23]]}
		},
		"behavior_sets":
		[
			[
				{
					"name":"Pontryagin",
					"devicenames":["Pontryagin"],
					"costfn":
					{
						"type":"quad",
						"params":
						{
							"a":1550.0,
							"b":-8.0,
							"c":0.65
						}
					}
				}
			],
			[
				{
					"name":"Pontryagin",
					"devicenames":["Pontryagin"],
					"costfn":
					{
						"type":"quad",
						"params":
						{
							"a":1550.0,
							"b":-18.0,
							"c":0.85
						}
					}
				}
			]
		]
	}
}
