{
	"agentid": "home5",
	"name": "Miraflores",
	"location": "DC.BRANCH2.BUS1.LOAD1",
	"message": "home agent up",
	"FREGpart" : 0,
	"DRpart" : 0,
	"refload" : 0.6,
	"windowlength" : 2,
	"resources": [],
	"appliances": 
	[
		{
			"type": "light", 
			"owner": "Miraflores",
			"name":"Vega",
			"nominalpower":0.6
		}
	],
	"preference_manager":
	{
		"selection_rule":
		{
			"type":"fixed",
			"params":{}
		},
		"behavior_sets":
		[
			[
				{
					"name":"Vega",
					"devicenames":["Vega"],
					"costfn":
					{
						"type":"piecewise",
						"params":
						{
							"values":[2.7, -2.7],
							"bounds":[0.5]
						}
					}
				}
			]
		]
	}
	
}
	
