{
	"agentid": "utility",
	"name": "ENERCON",
	"message": "utility agent starting up",
	"resources": 
		[
			{
				"type":"solar",
				"owner":"ENERCON",
				"location": "DC.BRANCH2.BUS1", 
				"name":"Phaeton", 
				"capCost": 90, 
				"maxDischargePower":3,
				"dischargeChannel":4,
				"Voc":21,
				"Vmpp":18
			},
			{
				"type":"generator", 
				"owner":"ENERCON", 
				"location": "DC.MAIN.MAIN", 
				"name":"Devonian", 
				"capCost":100, 
				"amortization_period":10, 
				"maxDischargePower":4,
				"dischargeChannel":2,
				"fuel_cost":0.05
			}
		]
}

