{
	"agentid": "home10",
	"name": "Farouq",
	"location": "DC.BRANCH1.BUS2.LOAD1",
	"message": "home agent up",
	"FREGpart" : 0,
	"DRpart" : 1,
	"refload" : 1.2,
	"windowlength" : 4,
	"resources": [],
	"appliances": 
	[
		{
			"type": "heater",
			"owner":"Farouq",
			"name":"Chebyshev",
			"specificheatcapacity":4.184,
			"mass":2.0,
			"thermalresistance":31.0,
			"maxsetpoint":40.0,
			"nominalpower":1.2,
			"deltat":10.0,
			"inittemp":41.0
		}
	],
	"preference_manager":
	{
		"selection_rule":
		{
			"type":"fixed",
			"params":{}
		},
		"behavior_sets":
		[
			[
				{
					"name":"Chebyshev",
					"devicenames":["Chebyshev"],
					"costfn":
					{
						"type":"quad",
						"params":
						{
							"a":625.0,
							"b":-4.1,
							"c":0.74
						}
					}
				}
			]
		]
	}
}
	
