{
	"agentid": "home11",
	"name": "Motohashi",
	"location": "DC.BRANCH2.BUS2.LOAD1",
	"message": "home agent up",
	"FREGpart" : 0,
	"DRpart" : 1,
	"refload" : 0.6,
	"windowlength" : 5,
	"resources": [],
	"appliances": 
	[
		{
			"type":"heater",
			"owner":"Motohashi",
			"name":"Lyapunov",
			"specificheatcapacity":4.184,
			"mass":1.0,
			"thermalresistance":21.0,
			"maxsetpoint":40.0,
			"nominalpower":0.6,
			"deadband":0.1,
			"deltat":10.0,
			"inittemp":41.0
		}
	],
	"preference_manager":
	{
		"selection_rule":
		{
			"type":"fixed",
			"params":{}
		},
		"behavior_sets":
		[
			[
				{
					"name":"Lyapunov",
					"devicenames":["Lyapunov"],
					"costfn":
					{
						"type":"quad",
						"params":
						{
							"a":700.0,
							"b":-4.5,
							"c":0.68
						}
					}
				}
			]
		]
	}
}
