{
	"agentid": "home3",
	"name": "Robeski",
	"location": "DC.BRANCH1.BUS1.LOAD2",
	"message": "home agent up",
	"FREGpart" : 1,
	"DRpart" : 1,
	"refload" : 0.6,
	"windowlength": 6,
	"resources": 
	[
		{
		"type":"solar",
		"owner":"Robeski",
		"location": "DC.BRANCH1.BUS1", 
		"name":"Helios", 
		"capCost": 100.0, 
		"maxDischargePower":2.0,
		"dischargeChannel":3,
		"Voc":21.0,
		"Vmpp":18.0
		}
	],
	"appliances": 
	[
		{
		"type":"refrigerator",
		"owner":"Robeski",
		"name":"Koralev",
		"volume":0.05,
		"thermalresistance":38.0,
		"minsetpoint":0.0,
		"nominalpower":0.6,
		"deltat":10.0,
		"relativeefficiency":0.5,
		"inittemp":3.0
		}
	],
	"preference_manager":
	{
		"selection_rule":
		{
			"type":"fixed",
			"params":{}
		},
		"behavior_sets":
		[
			[
				{
					"name":"Koralev",
					"devicenames":["Koralev"],
					"costfn":
					{
						"type":"piecewise",
						"params":
						{
							"values":[10.0,-0.75,-3.0,-0.75,10.0],
							"bounds":[0.0,0.2,0.4,0.6]
						}
					}
				}
			]
		]
	}

}
	
