{
	"agentid": "home1",
	"name": "Crunderson",
	"location": "DC.BRANCH1.BUS1.LOAD1",
	"message": "home agent up",
	"FREGpart" : 1,
	"DRpart" : 1,
	"refload" : 1.8,
	"windowlength" : 6,
	"resources": 
    [
        {
            "type": "lead_acid_battery", 
            "owner": "Crunderson", 
            "name":"Dionysus", 
            "location": "DC.BRANCH1.BUS1",
            "capCost": 140, 
            "maxDischargePower": 4, 
            "maxChargePower": 4, 
            "capacity": 1.2, 
            "chargeChannel": 5, 
            "dischargeChannel": 1, 
            "costfn":"interpolate",
            "cfnparams":{"states": [0.0, 0.2, 0.4, 0.6, 0.8, 1.0], 
			"values":[4.0, 1.0, -0.1, -0.1, 1.0, 3.0]}
        }
    ],
	"appliances": 
    [
        {
            "type": "heater",
            "owner":"Crunderson",
            "name":"Mendeleev",
            "specificheatcapacity":4.184,
            "mass":4.4,
            "thermalresistance":35.0,
            "nominalpower":1.2,
            "deltat":10,
            "inittemp":33.0
        },
    	{
            "type": "refrigerator",
            "owner":"Crunderson",
            "name":"Krylov",
            "volume":0.08,
            "thermalresistance":48.0,
            "nominalpower":0.6,
            "deltat":10.0,
            "relativeefficiency":0.5,
            "inittemp":3.0
        },
    	{
            "type": "light", 
            "owner": "Crunderson",
            "name":"Zubenelgenubi",
            "nominalpower":0.1
        }
    ],
    "preference_manager":
    {
        "selection_rule":
        {
            "type":"repeating_sets",
            "params":{"periods":[[0,1,2,3,4,5,6,7,8,9,10],[11,12,13,14,15,16,17,18,19,20,21,22,23]]}
        },
        "behavior_sets":
        [
			[
	            {
	                "name":"Krylov",
	                "devicenames":["Krylov"],
	                "costfn":
	                {
	                    "type":"piecewise",
	                    "params":
	                    {
	                        "values":[10.0,-1.4,-3.5,-1.4,10.0],
	                        "bounds":[0.0,0.2,0.4,0.6]
	                    }
	                }
	            },
	            {
	                "name":"Mendeleev",
	                "devicenames":["Mendeleev"],
	                "costfn":
	                {
	                    "type":"quad",
	                    "params":
	                    {
	                        "a":1200.0,
	                        "b":-9.0,
	                        "c":0.7
	                    }
	                }
	            },
	            {
	                "name":"Zubenelgenubi",
	                "devicenames":["Zubenelgenubi"],             
	                "costfn":
	                {
	                    "type":"piecewise",
	                    "params":
	                    {
	                        "values":[3.2,-3.2],
	                        "bounds":[0.5]
	                    }
	                }
	            },
				{
	                "name":"Dionysus",
	                "devicenames":["Dionysus"],
	                "costfn":
	                {
	                    "type":"interpolate",
	                    "params":
	                    {
	                        "values":[50.0, 10.0, -2.0, -2.0, 0.0, 20.0],
	                        "states":[0.0, 0.2, 0.4, 0.6, 0.8, 1.0]
	                    }
	                }
	            }
			],
			[
	            {
	                "name":"Krylov",
	                "devicenames":["Krylov"],
	                "costfn":
	                {
	                    "type":"piecewise",
	                    "params":
	                    {
	                        "values":[10.0,-1.4,-3.5,-1.4,10.0],
	                        "bounds":[0.0,0.2,0.4,0.6]
	                    }
	                }
	            },
	            {
	                "name":"Mendeleev",
	                "devicenames":["Mendeleev"],
	                "costfn":
	                {
	                    "type":"quad",
	                    "params":
	                    {
	                        "a":1200.0,
	                        "b":-14.0,
	                        "c":0.8
	                    }
	                }
	            },
	            {
	                "name":"Zubenelgenubi",
	                "devicenames":["Zubenelgenubi"],             
	                "costfn":
	                {
	                    "type":"piecewise",
	                    "params":
	                    {
	                        "values":[2.2,-2.2],
	                        "bounds":[0.5]
	                    }
	                }
	            },
				{
	                "name":"Dionysus",
	                "devicenames":["Dionysus"],
	                "costfn":
	                {
	                    "type":"interpolate",
	                    "params":
	                    {
	                        "values":[50.0, 10.0, -2.0, -2.0, 0.0, 20.0],
	                        "states":[0.0, 0.2, 0.4, 0.6, 0.8, 1.0]
	                    }
	                }
	            }
			]
        ]
    }
}
	
